 body {
    font-family: 'Arial', sans-serif;
    background-color:cadetblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: cadetblue;
}

.guessBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#HangmanImg {
    max-width: 100%;
    height: 270px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#hint {
    font-size: 16px;
    margin-top: 10px;
    max-width: 300px;
    /* Adjust as needed */
    text-align: left;
}
#lost{
    color:red;

}
#win{
    color:green;
}
#keyboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

button {
    padding: 15px 20px;
    /* Adjust as needed */
    font-size: 16px;
    background-color: cadetblue;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:disabled {
    background-color:rgb(194, 236, 237);
    cursor: not-allowed;
}

#wordSpotlight {
    color:green;
    font-size: 24px;
    margin: 10px 0;
}

#reset {
    background-color: cadetblue;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

#reset:hover {
    background-color: #5f9ea0;
    /* Slightly darker shade on hover */
}

#wrongWords {
    margin-top: 10px;
    font-weight: bold;
}

#maxWrong {
    font-weight: bold;
    color: #ff0000;
}